*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100%;
    width: 100%;
}

p{
    color: chocolate;
    /* font-size: 30px; */
    font-weight: bold;  
    font-style: italic;
    font-family: Arial, sans-serif;
    font-variant: small-caps;
    font: inherit small-caps bold 35px arial ;
    /* style/variant/weight/size/family */
}
